streamlit
watchdog
matplotlib
rdkit
pyscf
geometric
pyberny
py3Dmol
pyberny
stmol
ipython_genutils
dftd3

# pyscf github
git+https://github.com/pyscf/semiempirical
git+https://github.com/pyscf/properties