streamlit
watchdog
matplotlib
rdkit
pyscf
geometric
py3Dmol
pyberny
stmol
ipython_genutils
# Optional dependencies for additional features
git+https://github.com/pyscf/properties
git+https://github.com/pyscf/semiempirical